

    .carousel-header {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 1rem 0;
        text-align: center;
    }

    .picsum-img-wrapper {
        display: flex;
        justify-content: center;
    }