<div class="footer-wrapper pt-2">
    <div class="footer">
       <div class="float-left">
        <a>About</a>
        <a>Careers</a>
        <a>Contact Us</a>
           </div>
      <div class="float-right">
        <a>Terms Of Use</a>
        <a>Privacy Policy</a>
        <a>Corporate Social Responsibility</a>
      </div>
        
       
                
    </div>
 <div class="text-center">
                    <a>© Copyright 2021 The Media Company, All Rights Reserved.</a>
                </div> 
</div>