
.header-wrapper {
  
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 6px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-right: 10px;
    padding-top: 10px;
    .logo {
        float: left;
        margin-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
        img {
            width: 50px;
        }
        div{
            color: #fff;
            font-weight: bold;
            font-size: .5rem;
        }
       
    }
    .user{
        display: inline-block;
    margin-top: 1rem;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
    margin-left: 1rem;
    font-size: 1.2rem;
    }
    .nav-tabs {
        border-bottom: none;
       
        a {
            color: #e2dedecf;
        }
        .nav-link.active {
            border-color: transparent;
            color: #fff;
            background-color: transparent;
            font-weight:bold;
        }
        .nav-item:nth-child(3) {
        margin-right: 5px;
          }
    }

&:hover{
    background: #000;
    transition: background 0.5s ease-in;
    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
    -ms-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
}
}
.header-background {
    background: #000;
}