
<div class="about-wrapper">
    <div class="about-header">About Us</div>
    <div class="mt-2">
        THE MEDIA COMPANY. ENTERTAINMENT is a global leader in all forms of entertainment and their related businesses across all current and emerging media and platforms. A Time Warner Company, the Studio stands at the forefront of every aspect of the entertainment industry from feature film, television and home entertainment production and worldwide distribution to DVD and Blu-ray, digital distribution, video games, animation, product and brand licensing, and broadcasting. DC Entertainment, the company behind the world’s most iconic Super Heroes, including Batman, Superman, Wonder Woman, The Flash and hundreds more, is also part of THE MEDIA COMPANY.
    </div>
    
    <div class="leader mt-3">
    <div class="leader-header"> Meet our Team</div>
        <div class="row">
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/Steve.jpeg">
                    <p>Steve Rogers</p>
                    <div class="description">Chair & Chief Executive Officer</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images//bf6194cea854a999e33b73ca4ec21ea0.jpeg">
                    <p>Robert Downy Jr</p>
                    <div class="description">Co-Founder</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/scarlett-johansson-black-widow-1561650986.jpeg">
                    <p>Scarlet Johannson</p>
                    <div class="description">President</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/Chris-Hemsworth.jpeg">
                    <p>Chris Hemsworth</p>
                    <div class="description">President</div>
                </div></mat-card>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/Anthony.jpg">
                    <p> Anthony Mackie</p>
                    <div class="description">Chief Strategy Officer</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images//bf6194cea854a999e33b73ca4ec21ea0.jpeg">
                    <p>Robert Downy Jr</p>
                    <div class="description">Co-Founder</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/scarlett-johansson-black-widow-1561650986.jpeg">
                    <p>Scarlet Johannson</p>
                    <div class="description">President</div>
                </div></mat-card>
            </div>
            <div class="col-3">
                <mat-card class="card-border">
                <div class="leader-member">
                    <img src="../../assets/images/Chris-Hemsworth.jpeg">
                    <p>Chris Hemsworth</p>
                    <div class="description">President</div>
                </div></mat-card>
            </div>
        </div>
    </div>
</div>