<div class="">
    <section class="section-meals">
        <ul class="meals-showcase clearfix gallery-wrapper">
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/A1.jpeg" alt="Avengers1">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/A2.jpeg" alt="Avengers2">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/A3.jpeg" alt="Avengers3">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/A4.jpeg" alt="Avengers4">
                </figure>
            </li>
        </ul>
        <ul class="meals-showcase clearfix">
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/CM.jpeg" alt="CapMarvel">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/W.jpeg" alt="Widow">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/P.jpeg" alt="BlackPanther">
                </figure>
            </li>
            <li>
                <figure class="meal-photos">
                    <img src="../../assets/images/Deadpool.jpeg" alt="Deadpool">
                </figure>
            </li>
        </ul>
    </section>
</div>